<div class="table table-striped table-bordered table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ToDo</th>
        <th>Days Left</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @list.todo %></td> 
        <td>7</td>
        <td><% check_box_tag, 'Yes/No' %></td>
      </tr>
    </tbody>
  </table>
</div>