<div class="table table-striped table-bordered table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ToDo</th>
        <th>Days Left</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <%= form_for List.new do |f| %>
      <tr>
        <td>
          <%= f.text_field :todo, placeholder: 'New ToDo' %> 
        </td>
        <td>7</td>
        <td><% check_box_tag(:YesorNo) %><%= label_tag(:YesorNo, "Yes/No") %></td>
      </tr>
    </tbody>
  </table>
</div>
    <%= f.submit 'Save', class: "btn btn-danger btn-lg btn-save" %>
    <% end %>
