
  <div class="container">
    <div class="main">
      <p><a class="btn btn-success btn-xlarge" role="button">orLOOZit!</a></p>
    </div>

    <div class="about">
      <p>ToDOOZit is a simple todo list app</p>
       <p>with built in self-destruct.</p>
        <p>Set your list.</p>
        <p>Set your countdown.</p>
        <p>Do your stuff.</p>
    </div>

  </div>
