
  <div class="container">
    <div class="main">
      <p>
        <%= link_to "orLOOZit", lists_path, class: "btn btn-success btn-xlarge" %>
      </p>
    </div>

    <div class="about">
      <p>ToDOOZit is a simple todo list</p>
       <p>with built in self-destruct.</p>
        <p>Set your list.</p>
        <p>Set your countdown.</p>
        <p>Do your stuff.</p>
    </div>

  </div>
