<tr>
  <td><%= todo.item %>  <%= link_to "Edit", [@list, todo], class: 'btn btn-success btn-sm btn-todo' %></td>
  <td>7</td>
  <td><%= link_to "Complete", [@list, todo], method: :delete, class: 'btn btn-success btn-sm btn-todo' %></td>
</tr>
