@import "bootstrap";

.main {
  border-radius: 1px;
  padding: 50px 50px 20px 150px;
}

.btn-home {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px; 
  margin-left: 100px;
  margin-right: 50px;    
}

.btn-huh {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;  
  margin-left: 100px;
  margin-right: 50px;   
}

.btn-in {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px; 
  margin-left: 100px;
  margin-right: 50px;    
}

.btn-up {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  margin-left: 100px;
  margin-right: 50px;    
}

.btn-out {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  margin-left: 100px;
  margin-right: 50px;     
}

.btn-xlarge {
  border-radius: 1px;
  padding: 68px 98px;
  font-size: 72px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;    
  margin: 0px 50px 0px 90px; 
}

.form {
  margin: 75px 0px 0px 275px;
}

#about {
  font-size: 40px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 100px;
  margin-right: 50px; 
}

.about {
  font-size: 40px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 100px;
  margin-right: 50px; 
  margin: 0px 100px 50px 10px;
  text-align: center;
}

